* {
    padding: 0;
    margin: 0;
}

:root {
    --bs-main: rgb(240, 145, 51);
}


.mainbgColor {
    background-color: var(--bs-main);
}

.grad {
    background-image: linear-gradient(rgb(235, 217, 199), white);
}

.mainTextColor {
    color: var(--bs-main);
}

.icon{
    background-color: rgb(224, 168, 113);
    width: 2rem;
    height: 2rem;
}

.services_img{
    height: 200px;
}


.cursor{
  cursor: pointer;
}

.navbar-nav.mx-auto{
  width: 30%;
}
@media screen and (max-width:768px) {
  .navbar-nav.mx-auto{
  width: 100%;
  margin-top: 11px;
}
}


/* product page css */

@media only screen and (min-width: 800px) {

    .img-size{
      height: 40vh;
    }

    .form{
      width: 50vw;
    }
    }

@media only screen and  (max-width: 800px) and (min-width: 700px){

    .img-size{
      height: 40vh;
      width: 47vw;
    }

    .form{
      width: 50vw;
    }
    }

  @media only screen and (max-width: 700px) {

    .img-size{
      height: 32vh;
      width: 47vw;
    }

    .md-top-margin{
      margin-top: 10px;
  }

  .md-bt-margin{
    margin-bottom: 10px;
  }
    }

    .product_img{
        height: 80px;
       width: 80px;
    }

    .main-footer{
        background-color: #fffbfb;

    }





    .similar_pro_img{
      height: 25vh;
    }
