

* {
  padding: 0;
  margin: 0;
  
}

body {
  overflow-x: hidden !important;
}

 .main-footer {
  background-image: linear-gradient(rgb(244, 139, 70), white);
}

.about{

    background-image:linear-gradient(to right, rgb(253 226 205) 0%, rgb(255 152 82) 100%);
    height: 10vh;
}
/* .card-about{
    height: 30rem;
} */

.bg{
    background: #f4670812;
}
/* .card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} */
/*user profile*/
.bttn{
    background-color: rgb(255 152 82);
    color: black;
    border-radius: 5px;
    border: none;
    height: 5vh;
    width: 8vw;
}
.abt{
    background-color:rgb(244, 139, 70) ;
}
.side {
    background-color: #f4670812;
}
.det{
    color: rgb(244, 101, 7);
}
.bgcolor{
    background-color: #f4670812;
}
.order{
    height: 10vh;
}
.fav{
    color: rgb(244, 101, 7);
    background-color: #f4670812;
}
/*cart*/

.laycolor{
background-color: rgb(244, 139, 70) ;
}
.shop{
background-color: #f4670812;
}
.remove{
background-color: rgb(244, 101, 7);
}



:root {
    --bs-main: rgb(240, 145, 51);
}


.mainbgColor {
    background-color: var(--bs-main);
}

.grad {
    background-image: linear-gradient(rgb(235, 217, 199), white);
}

.mainTextColor {
    color: var(--bs-main);
}

.icon{
    background-color: rgb(224, 168, 113);
    width: 2rem;
    height: 2rem;
}

.services_img{
    height: 200px;
}


.cursor{
  cursor: pointer;
}

.navbar-nav.mx-auto{
  width: 30%;
}
@media screen and (max-width:768px) {
  .navbar-nav.mx-auto{
  width: 100%;
  margin-top: 11px;
}
}


/* product page css */

@media only screen and (min-width: 800px) {

    .img-size{
      height: 40vh;
    }

    .form{
      width: 50vw;
    }
    }

@media only screen and  (max-width: 800px) and (min-width: 700px){

    .img-size{
      height: 40vh;
      width: 47vw;
    }

    .form{
      width: 50vw;
    }
    }

  @media only screen and (max-width: 700px) {

    .img-size{
      height: 32vh;
      width: 47vw;
    }

    .md-top-margin{
      margin-top: 10px;
  }

  .md-bt-margin{
    margin-bottom: 10px;
  }
    }

   .product_img{
        height: 80px;
       width: 80px;
    }

    .main-footer{
      background-image: linear-gradient(rgb(244, 139, 70), white);

    }

    .similar_pro_img{
      height: 25vh;
    }

    .services-card{
height: 26vh;
    }